<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
        <h1>{{title}}</h1>
        <div class="about">
            <div class="about-heading">

            </div>
            <div class="about-author">
                <div class="author-name">{{name}}</div>
                <div class="author-image">
                    <img src="./img/79332026.jfif" alt="">
                </div>
                <div class="author-details">

                </div>
                <div class="author-social">
                    <a href="https://github.com/lightmanBro" class="social-button">GitHub</a>
                    <a href="https://" class="social-button">LinkedIn</a>
                </div>
            </div>
        </div>
    {{>footer}}
</body>
</html>