<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
{{>header}}
    <h1>{{title}}</h1>
    <div class="help-catalog-container">
        <div class="help-catalog">
            <div class="help-catalog-header">Using the Weather App</div>
        </div>
        <div class="help-catalog">
            <div class="help-catalog-header">Contact Support</div>
        </div>
        <div class="help-catalog">
            <div class="help-catalog-header">FAQ and other?</div>

            <div class="help-catalog-questions">
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
                <div class="help-question">
                    Enable or disable the immutable directive in the Cache-Control response header.
                    If enabled, the maxAge option should also be specified to enable caching.
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>